./Apio Project Files/.sconsign.dblite
./Apio Project Files/abc.history
./Apio Project Files/apio.ini
./Apio Project Files/hardware.asc
./Apio Project Files/hardware.bin
./Apio Project Files/hardware.blif
./Apio Project Files/hardware.out
./Apio Project Files/install_apio.bat
./Apio Project Files/install_apio.sh
